@tailwind base;
@tailwind components;
@tailwind utilities;



.toggle-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: #0056b3;
}


.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    margin-left: 10px;
}

.search-bar input::placeholder {
    color: #aaa;
}




  